body{
    color: white;
    background-image: url("https://media3.giphy.com/media/Uodnf0BK7gSjzuwtDu/giphy.webp");
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}

button{
    padding: 10px 19px ;
    font-weight: bold;
}
span{
    text-decoration: underline;
}
.content{
    margin-top: 20%;
}